:root,
:scope,
:host {
	--spacing-zero: 0;
	--spacing-4xs: 2px;
	--spacing-3xs: 4px;
	--spacing-2xs: 8px;
	--spacing-xs: 12px;
	--spacing-sm: 16px;
	--spacing-md: 20px;
	--spacing-lg: 24px;
	--spacing-xl: 32px;
	--spacing-xxl: 48px;

	--dimension-zero: 0;
	--dimension-4xs: 2px;
	--dimension-3xs: 4px;
	--dimension-2xs: 8px;
	--dimension-xs: 12px;
	--dimension-sm: 16px;
	--dimension-md: 20px;
	--dimension-lg: 24px;
	--dimension-xl: 32px;
	--dimension-xxl: 48px;

	--font-size-base: 1rem;
	--font-size-sm: calc((14 / 16) * 1rem);
	--font-size-xs: calc((12 / 16) * 1rem);

	--line-height-base: 1.5;
	--line-height-sm: 1.25;

	--color-neutral-100: #1b2134;
	--color-neutral-200: #2e344a;
	--color-neutral-300: #343a4e;
	--color-neutral-400: #585d71;
	--color-neutral-600: #c4c5cf;
	--color-neutral-700: #d3d3dc;
	--color-neutral-800: #f1f1f7;
	--color-neutral-900: #f6f6fa;
	--color-neutral-1000: #fff;

	--color-negative-900: #ffbfb1;
	--color-positive-900: #b1ffc7;

	--color-negative-100: oklch(
		from var(--color-negative-900) calc(l - 0.5) calc(c + 0.05) h
	);
	--color-positive-100: oklch(
		from var(--color-positive-900) calc(l - 0.5) calc(c + 0.05) h
	);

	--badge-neutral: light-dark(
		var(--color-neutral-800),
		var(--color-neutral-100)
	);
	--badge-negative: light-dark(
		var(--color-negative-900),
		var(--color-negative-100)
	);
	--badge-positive: light-dark(
		var(--color-positive-900),
		var(--color-positive-100)
	);

	--text-neutral: light-dark(var(--color-neutral-100), var(--color-neutral-900));
}
