.tab-list {
	-webkit-overflow-scrolling: touch;
	display: flex;
	flex-wrap: nowrap;
	gap: var(--spacing-2xs);
	padding: var(--spacing-3xs);
	margin: calc(-1 * var(--spacing-3xs));
	padding-bottom: var(--spacing-lg);
	max-width: 100%;
	overflow-scrolling: touch;
	overflow-x: auto;
	position: relative;
	scroll-padding: var(--spacing-2xs);
	scroll-snap-type: x mandatory;
	scrollbar-width: none;

	& > * {
		scroll-snap-align: start;
	}

	@media screen and (min-width: 768px) {
		gap: var(--spacing-xs);
	}

	&:where(.underline) {
		gap: var(--spacing-lg);

		@media screen and (min-width: 768px) {
			gap: var(--spacing-xl);
		}
	}
}

.tab-list::-webkit-scrollbar {
	display: none;
}

/* animation */
@media (prefers-reduced-motion: no-preference) {
	@supports (anchor-name: --a) {
		:host {
			--timing: 0.25s;
		}

		.active {
			background: transparent;
			transition: all calc(var(--timing) / 2) ease-in-out;
			transition-delay: calc(var(--timing) / 2);

			.underline &::after {
				opacity: 0;
				transition: all var(--timing) ease-in-out;
			}
		}

		.tab-list {
			--background: light-dark(
				var(--color-neutral-100),
				var(--color-neutral-900)
			);

			&:has(.active:hover) {
				--background: light-dark(
					var(--color-neutral-300),
					var(--color-neutral-700)
				);
			}

			&:has(.active:active) {
				--background: light-dark(
					var(--color-neutral-400),
					var(--color-neutral-800)
				);
			}

			&::before {
				background-color: var(--background);
				border-radius: 0;
				border-radius: 100vh;
				content: "";
				height: anchor-size(var(--active-tab) height);
				left: anchor(var(--active-tab) left);
				opacity: 1;
				position: absolute;
				top: anchor(var(--active-tab) top);
				transition: all var(--timing) ease-in-out;
				view-transition-name: target;
				width: anchor-size(var(--active-tab) width);
			}

			&.underline::before {
				height: 3px;
				top: calc(anchor(var(--active-tab) bottom) - 4px);
				border-radius: var(--dimension-4xs);
			}
		}
	}
}

/* scrollbar indicator */
.tab-list {
	--f: var(--color-neutral-1000);
	--b: var(--color-neutral-100);

	background: linear-gradient(
			to right,
			light-dark(var(--f), var(--b)) 30%,
			transparent
		)
		left center,
		linear-gradient(to left, light-dark(var(--f), var(--b)) 30%, transparent)
		right center,
		radial-gradient(
			farthest-side at 0 50%,
			light-dark(rgb(from var(--b) r g b / 0.2), rgb(from var(--f) r g b / 0.2)),
			transparent
		)
		left center,
		radial-gradient(
			farthest-side at 100% 50%,
			light-dark(rgb(from var(--b) r g b / 0.2), rgb(from var(--f) r g b / 0.2)),
			transparent
		)
		right center;

	background-repeat: no-repeat;
	background-size: 40px calc(100% - var(--spacing-sm)), 40px
		calc(100% - var(--spacing-sm)), 14px calc(100% - var(--spacing-sm)), 14px
		calc(100% - var(--spacing-sm));
	background-position: left top, right top, left top, right top;
	background-attachment: local, local, scroll, scroll;
}
