@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import "../../../variables.css";
@import "./Tabs.Badge.css";
@import "./Tabs.Button.css";
@import "./Tabs.List.css";

:host {
	font-family: Inter, Arial, Helvetica, sans-serif;
	font-size: var(--font-size-base);
	color: var(--text-neutral);
}

*,
*::after,
*::before {
	font-family: inherit;
	box-sizing: border-box;
}
