.tabs-badge {
	border-radius: var(--dimension-2xs);
	color: var(--text-neutral);
	display: inline-block;
	font-size: var(--font-size-xs);
	font-weight: 700;
	line-height: var(--line-height-base);
	padding: var(--spacing-4xs) var(--spacing-3xs);

	@media (min-width: 768px) {
		border-radius: var(--dimension-xs);
		padding: var(--spacing-3xs) var(--spacing-2xs);
	}

	&:is(.neutral) {
		background-color: var(--badge-neutral);
	}

	&:is(.negative) {
		background-color: var(--badge-negative);
	}

	&:is(.positive) {
		background-color: var(--badge-positive);
	}
}
