.tabs-badge {
	border-radius: var(--dimension-2xs);
	color: var(--text-neutral);
	display: inline-block;
	font-size: var(--font-size-xs);
	font-weight: 700;
	line-height: var(--line-height-base);
	margin: 1px 0; /* 1px margin to optical align */
	padding: var(--spacing-4xs) var(--spacing-3xs);

	@media screen and (min-width: 768px) {
		border-radius: var(--dimension-xs);
		margin: -1px;
		padding: var(--spacing-3xs) var(--spacing-2xs);
	}
	&:where(.neutral) {
		background-color: var(--badge-neutral);
	}

	&:where(.negative) {
		background-color: var(--badge-negative);
	}

	&:where(.positive) {
		background-color: var(--badge-positive);
	}
}
